---
---
@charset "utf-8";

$link-color: #1eaedb;

// Breakpoints
$smaller-than-mobile    : "max-width: 400px" !default;
$smaller-than-tablet    : "max-width: 750px" !default;
$smaller-than-desktop   : "max-width: 1000px" !default;
$smaller-than-desktophd   : "max-width: 1200px" !default;

@media (#{$smaller-than-mobile}) {}
@media (#{$smaller-than-tablet}) {}
@media (#{$smaller-than-desktop}) {}
@media (#{$smaller-than-desktophd}) {}

// Sizes
$full-block-space: 3rem;
$small-block-space: 1.5rem;

@mixin two-columns {
    display: -webkit-flex;
    & > * { width: 50%; }
    @media (#{$smaller-than-tablet}) {
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        & > * { width: 100%; }
    }
}

@mixin std-margin($side) {
    margin-#{$side}: $full-block-space;
    @media (#{$smaller-than-desktophd}) {
        margin-#{$side}: $small-block-space;
    }
}

@import
    "main",
    "normalize",
    "work_page"
;

//  Global styles

html {
    color: #222;
    background-color: #fafafa;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

figure {
    margin: 0;
}

.container {
    display: -webkit-flex;
    margin: auto $full-block-space;

    @media (#{$smaller-than-desktophd}) {
        margin: auto $small-block-space;
    }

    @media (#{$smaller-than-desktop}) {
        -webkit-flex-direction: column;
    }
}

.container-single {
    max-width: 900px;
    margin: $full-block-space auto;
    @media (#{$smaller-than-desktophd}) {
        margin: auto $small-block-space;
    }
}

.container-side {
    -webkit-flex: 0 0 27rem;
    height: 100%;
    max-width: 35em;
    margin-right: $full-block-space;

    @media (#{$smaller-than-desktophd}) {
        margin-right: $small-block-space;
    }

    @media (#{$smaller-than-desktop}) {
        -webkit-flex: 0 0;
        margin-bottom: $small-block-space;
    }
}

a {
  color: $link-color;
  &:hover { color: darken($link-color, 5%);}
}

p {
    font-size: 0.9rem;
    hyphens: auto;
    -webkit-hyphens: auto;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
    padding: 0.5em;
    &:before {
        content: "- "
    }
}

h3, h4 {
    font-weight: normal;
}

h4 {
    font-style: italic;
}

h3 {
    font-size: 1.15rem;
    margin: 0 0 0.5em 0;
}

header {
    background-color: rgba(#fff, 1);
    box-shadow: 0 5px 8px #f8f8f8;
    margin-bottom: $full-block-space;
    @media (#{$smaller-than-desktophd}) {
        margin-bottom: $small-block-space;
    }

}

header nav {
    -webkit-justify-content: flex-end;
    padding: 1.2em 0;
    a {
        color: #777;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9em;
        transition: all 0.2s;
        border-bottom: 2.5px solid transparent;
        &:nth-child(n+2) {
            margin-left: 3em;
        }
        &:hover {
            border-color: #ccc;
            color: darken(#777, 5%)
        }
    }
}

.avatar {
    border-radius: 50%;
    height: 80px;
    padding: 0 1rem;
    -webkit-flex: 0 0 80px;
}

.contact-details-wrapper {
    @include two-columns;
}

.contact-map {
    border: 0;
    min-height: 300px;
}

.contact-individual {
    @include two-columns;
    h3 { font-weight: bold; }
    & > section {
        display: -webkit-flex;
        -webkit-align-items: center;
        @include std-margin("top")
    }
}

.contact-image {
    img {
        width: 100%;
    }
}

