---
---
@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";

$link-color: #1eaedb;
// TODO: Fallback
$serif: "Lora";
$sans-serif: "Open Sans";
$reading-width: 45rem;

// breakpoints
$bp-mobile:       "max-width: 400px";
$bp-small-tablet: "max-width: 600px";
$bp-tablet:       "max-width: 750px";
$bp-desktop:      "max-width: 1000px";
$bp-desktophd:    "max-width: 1200px";

@media (#{$bp-mobile}) {}
@media (#{$bp-tablet}) {}
@media (#{$bp-desktop}) {}
@media (#{$bp-desktophd}) {}

// sizes
$full-block-space: 3rem;
$small-block-space: 1.5rem;

@mixin two-columns {
    margin-top: $full-block-space;
    @include display(flex);
    @include justify-content(space-between);

    @media (#{$bp-tablet}) {
        @include flex-direction(column);
    }

    & > * {
        width: calc(50% - #{$full-block-space}/2);
        @media (#{$bp-desktophd}) {
            width: calc(50% - #{$small-block-space}/2);
        }

        @media (#{$bp-tablet}) {
            width: 100%;
            margin-left: 0 !important;
        }
    }

    &:nth-child(2n) {
       @media (#{$bp-tablet}) {
           margin-top: $full-block-space;
       }

       @media (#{$bp-mobile}) {
           margin-top: $small-block-space;
       }
    }
}

@mixin std-margin($side) {
    margin-#{$side}: $full-block-space;
    @media (#{$bp-desktophd}) {
        margin-#{$side}: $small-block-space;
    }
}

//  global styles

html {
    color: #222;
    font: { size: 1em; family: $sans-serif; }
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

figure {
    margin: 0;
}

.container {
    margin: auto $full-block-space;
    @media (#{$bp-desktophd}) {
        margin: auto $small-block-space;
    }

    @media (#{$bp-desktop}) {
        @include flex-direction(column);
    }
}

.container-single {
    @include std-margin('bottom');
    max-width: 1000px;
    margin-top: $full-block-space;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $small-block-space;
}


.container-side {
    @include flex(0 0 27rem);
    height: 100%;
    max-width: 35em;
    margin-right: $full-block-space;

    @media (#{$bp-desktophd}) {
        margin-right: $small-block-space;
    }

    @media (#{$bp-desktop}) {
        @include flex(0 0);
        margin-right: 0;
        margin-bottom: $small-block-space;
    }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover { color: darken($link-color, 5%); text-decoration: underline;}
}

p {
    @include hyphens(auto);
    font: { size: 0.9rem; family: "lora"; }
}

p:first-child {
    margin-top: 0;
}

figcaption {
    padding: .5em;
    color: #888;
    font: { size: .8em; style: italic; }
    &:before { content: '- '; }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open sans";
}

h1 {
    text-transform: uppercase;
    margin: 0;
    em { color: indianred; font-style: normal; }
}

h2 {
    font-family: "lora";
    margin-top: 0;
    font-size: 1.15em;
    font-weight: normal;
    font-style: italic
}

h3 {
    font-size: 1.15rem;
    margin: 0 0 0.5em 0;
}

h4 {
    font-style: italic;
}

.header-logo {
    width: 190px;
    height: 119px;
}

.top-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    @media (#{$bp-small-tablet}) {
        @include flex-direction(column);
    }

}

.top-header nav {
    text-align: right;
    width: 100%;
    @media (#{$bp-small-tablet}) {
        text-align: center;
        margin-top: $small-block-space;
    }
    a {
        @include transition (color .2s);
        display: inline-block;
        padding: 4px 0;
        position: relative;
        color: #444;
        text-transform: uppercase;
        font: { size: 0.85rem; weight: 600; }
        white-space: nowrap;
        @media (#{$bp-small-tablet}) {
            margin-top: 0.5em;
        }
        @media (#{$bp-small-tablet}) {
            text-align: center;
            margin-top: $small-block-space;
            font-size: 1rem;
        }

        &:nth-child(n+2) {
            margin-left: 3em;
            @media (#{$bp-tablet}) { margin-left: 1em; }
        }

        &:after, &:before {
            @include transition-property(width, left, top, background-color);
            @include transition-duration(.2s);
            content: "" ;
            display: inline-block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 1px;
            width: 100%;
            background-color: #999;
        }

        &:before {
            top: 14px;
            opacity: 0;
        }

        &:hover {
            color: #999;
            text-decoration: none;

            &:after, &:before {
                @include calc(width, '100% + 12px' );
                left: -6px;
                background-color: #ccc;
            }

            &:before {
                opacity: 1;
                top: 0;
            }
        }
    }
}

.avatar {
    @include flex(0 0 80px);
    height: 80px;
    margin-right: 1rem;
    border-radius: 50%;
}

.blog-articles {
    @include two-columns;
    a {
        text-decoration: none;
        color: #333;
        margin-top: $full-block-space;
        display: -webkit-flex;
        transition: 0.2s color;

        @media (#{$bp-desktop}) {
            width: 100%;
            margin-left: 0;
        }

        &:hover {
            color: #777;
            img {}
        }

        h3 {
            font-weight: bold;
            font-size: 1.4rem;
            font-style: normal;
            font-family: $sans-serif;
        }
        img {
            margin-right: $small-block-space;
            // transition: 0.2s opacity;
            opacity: 1;
            -webkit-flex: 0 0 180px;
            height: 180px;
        }

        time, .author {
            font-size: small;
            color: #777;
            em { color: indianred; }
        }
    }
}

.blog-introduction {
    max-width: $reading-width;
}

.post-image {
    max-width: 100%;
}

.post-header {
    text-align: center;
    h1 { margin-top: 3rem; }
    h2 { margin-bottom: 3rem; }
}

.post-content {
    max-width: $reading-width;
    margin: 0 auto;
    p {
        font-size: 1em;
        line-height: 1.45em;
    }
}

.highlight {
    padding: 1.5rem;
    background-color: #f3faff;
    pre {
        margin: 0;
    }
}

.author-header {
    @include display(flex);
    @include justify-content(center);
}

@import
    "work_page",
    "contact",
    "highlight"
;
