.contact-container {
    h1 {
        text-align: center;
        margin-bottom: $full-block-space;
    }
}

.contact-information {
    @include two-columns;
    -webkit-align-items: center;
}

.contact-map {
    height: 300px;
}

.contact-individual {
    @include two-columns;
    h3 { font-weight: bold; }
    div { font-size: 0.9rem; }
    & > section {
        display: -webkit-flex;
        -webkit-align-items: center;
        margin-top: $full-block-space;
    }
}

.contact-image {
    img {
        width: 100%;
    }
}
