.work-container > article {
    display: -webkit-flex;
    -webkit-align-items: center;
}

.work-title {
    h1 {
        font-weight: 600;
        margin: 0;
    }
}

.work-description {}

.work-customer {
    @include std-margin("top");
    display: -webkit-flex;
    -webkit-align-items: center;
}

.work-customer-text {
    strong:after { content: " - "; }
    blockquote {
        margin: 0;
        font-style: italic;
        font-size: 0.8em;
        &:before { content: "“" }
        &:after { content: "”" }
    }
}


.work-image {
    img {
        width: 100%;
    }
}
