<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="container-single top-header">
      <a href="/"><img class="header-logo" src="/assets/logo.svg"></a>
      <nav>
        <a href="/">Home</a>
        <a href="/works">Our works</a>
        <!-- <a href="/blog">Blog</a> -->
        <a href="/contact">Get in touch</a>
      </nav>
    </header>

      <main class="clearfix">
        {{ content }}
      </main>

    <footer>
      All rights reserved - Gooseberry Creative 2015
    </footer>

  </body>

</html>
